@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    background-image: url("css/images/background.png");
    background-size: 100%;
}
.body__h1{
    padding-top: 2rem;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    animation-name: heading;
    animation-duration: 3s;
    animation-direction: alternate;
}
@keyframes heading{
    from {color: #000;}
    to {color: #fff;}
}
.Input{
    text-align: center;
}
.Output{
    text-align: center;
}
#input__h{
    color: #fff;
    font-family: 'DM Sans', sans-serif;
}
#output_h{
    color: #fff;
    font-family: 'DM Sans', sans-serif;
}
